
body
{
background-color: rgb(141, 141, 255);
}
#logo1
{
    width : 50px;
    height : 50px;
    float : right;
}
#logout
{
    background-color: rgb(249, 182, 211)
    font-size: large;
    color : white;
}
h1
{
    color : white;;
    font-size: xx-large;
}
#add_room_button
{
    color : white;
    background-color: rgb(249, 182, 211);
    font-size: larger;
}
